<mat-toolbar color="primary">
  <span>File Selector</span>
</mat-toolbar>

<mat-card>
  <mat-card-title class="mat-h2">Fake File Form</mat-card-title>
  
  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Patient ID</mat-label>
        <input matInput>
      </mat-form-field>
    
      <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>First name</mat-label>
          <input matInput>
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Last Name</mat-label>
          <input matInput>
        </mat-form-field></td>
      </tr></table>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Kideny Stone Count</mat-label>
        <input matInput>
      </mat-form-field>
    
      <mat-form-field (click)="fileInput.click()" class="example-full-width" appearance="fill">
        <mat-label>Linked Documents</mat-label>
        <input #proxyInput (focus)="files.length < 1 ? proxyInput.blur() : true" readonly matInput>

        <mat-chip-list *ngIf="files.length > 0" #chipList>
          <mat-chip
            *ngFor="let file of files"
            (removed)="remove(file)"
          >
            {{ file.name }}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
        </mat-chip-list>

        <input #fileInput (change)="onFilesSelected()" type="file" id="file" multiple hidden>

        <mat-icon color="primary" matSuffix>attach_file</mat-icon>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button
      (click)="openDocumentUploader()" 
      color="accent"
      mat-flat-button 
    >
      <mat-icon>attach_file</mat-icon>
      Upload Documents
    </button>

    <span spacer></span>

    <button mat-stroked-button>Cancel</button>
    <button mat-flat-button color="primary">Save</button>
  </mat-card-actions>
</mat-card>