:host {
  height: 100%;

  display: flex;
  flex-direction: column;
  
  mat-toolbar {
    z-index: 2;
    position: sticky;
    top: 0;
  }

  mat-card {
    width: 480px;
    margin: auto;

    .example-full-width {
      width: 100%;
    }
  }
}
