<mat-card cdkDrag cdkDragRootElement=".document-uploader-dialog-container">
  <mat-toolbar color="primary" cdkDragHandle>
    <span>Document Uploader</span>

    <span spacer></span>

    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>

  <mat-card-content>

  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-stroked-button mat-dialog-close>Cancel</button>
    <button mat-flat-button color="primary">Save</button>
  </mat-card-actions>
</mat-card>